In [6]:
import pandas as pd
df=pd.read_csv('house.csv')
df.drop(columns=['Id'],inplace=True)
df.head()

,OverallQual,GrLivArea,GarageCars,TotalBsmtSF,YearBuilt,FullBath,BedroomAbvGr,LotArea,SalePrice
0,7,1560,0,1658,1969,2,1,8059,177106
1,4,2827,2,1319,2012,3,4,13530,301044
2,8,3920,0,841,2010,1,4,9010,360609
3,5,3044,0,1058,1998,0,4,13207,240556
4,7,801,1,2428,2020,0,1,9117,193656

In [7]:
from sklearn.model_selection import train_test_split
x=df.drop(['SalePrice'],axis=1).values
y=df['SalePrice'].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
from sklearn.metrics import mean_squared_error, r2_score
mse=mean_squared_error(y_test,y_pred)
print("Mean Squared Error:",mse)
r2=r2_score(y_test,y_pred)
print("R^2 Score:",r2)

Mean Squared Error: 156386511.41910484
R^2 Score: 0.9724369952260715

In [8]:
import pickle
with open('model.pkl','wb') as f:
    pickle.dump(model,f)